/* Add a black background color to the top navigation */
.topnav {
    background-color: #C3B8B2;
    overflow: hidden;
    height: 5%;
    float: top;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.account_linegraph {
    float: left;
    max-width: 50%;
    max-height: 100%;
}

.account_title {
    text-align: center;
    background-color: #EEEEEE;
}

.account_textstats {
    background-color: #EEEEEE;
    margin-top: 10px;
    float: right;
    width: 40%;
    height: 40%;
}
