{% extends 'base.html' %}

{% block content %}
<title> Monsoon Jobstats </title>


<!-- account ranks  -->
<div class="row">    
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {% if not view and not time %}
                    Weekly Account Ranking
                    {% elif view in ['cluster', 'accounts'] or not view %}
                        {% if time == 'W' %}
                        Weekly Account Ranking 
                        {% elif time == 'M' %}
                        Monthly Account Ranking 
                        {% else %}
                        Quarterly Account Ranking 
                        {% endif %}
                    {% else %}
                        {% if time == 'W' %}
                        Weekly User Ranking 
                        {% elif time == 'M' %}
                        Monthly User Ranking 
                        {% else %}
                        Quarterly User Ranking 
                        {% endif %}
                    {% endif %}
                </h5>
                <table id="table" class="table table-striped table-bordered">
                    <thead>
                    <tr> <th>rank</th> <th>account</th> <th>cores</th> <th>memory</th> <th>time limit</th> <th>jobs</th> <th>total efficiency</th> </tr>
                    </thead>
                    <tbody>
                    {% for i in account_ranks %}
                    <tr>
                        <th scope="row">{{i[0]}}</th>
                        {% if view == 'users' %} 
                        <td><a href={{url_for('viewUser', user_name=i[1], time=time, view=view)}}>{{i[1]}}</a></td> 
                        {% else %}
                        <td><a href={{url_for('viewAccount', account_name=i[1], time=time, view=view)}}>{{i[1]}}</a></td> 
                        {% endif %}
                        <td>{{i[2]|round(2) if i[2] != '-' else '<div title="This user used the minimum value for this resource. A score was not calculated." style="color: green;">0</div>'|safe}}</td> 
                        <td>{{i[3]|round(2) if i[3] != '-' else '<div title="This user used the minimum value for this resource. A score was not calculated." style="color: green;">0</div>'|safe}}</td> 
                        <td>{{i[4]|round(2) if i[4] != '-' else '<div title="This user used the minimum value for this resource. A score was not calculated." style="color: green;">0</div>'|safe}}</td>
                        <td>{{i[6] if i[6] != '-' else '<div title="This user used the minimum value for this resource. A score was not calculated.">0</div>'|safe}}</td>
                        <th scope="row">{{i[5]|round(2) if i[5] != '-' else i[5]}}</th> 
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#table').DataTable();
    } );
</script>
{% endblock %}
