{% extends 'base.html' %}

{% block content %}

<title> Monsoon Jobstats </title>

<!-- account ranks  -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {% if not view and not time %}
                    Weekly Account Ranking
                    {% elif view in ['cluster', 'accounts'] or not view %}
                        {% if time == 'W' or not time %}
                        Weekly Account Ranking 
                        {% elif time == 'M' %}
                        Monthly Account Ranking 
                        {% else %}
                        Quarterly Account Ranking 
                        {% endif %}
                    {% else %}
                        {% if time == 'W' or not time %}
                        Weekly User Ranking 
                        {% elif time == 'M' %}
                        Monthly User Ranking 
                        {% else %}
                        Quarterly User Ranking 
                        {% endif %}
                    {% endif %}
                </h5>
                <div>
                </div>
                <table id="table" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>rank</th>
                      <th>acct</th>
                      <th>cpu eff</th>
                      <th>mem eff</th>
                      <th>time eff</th>
                      <th>gpu eff</th>
                      <th>total eff</th>                      
                      <th>cpu hrs</th>
                      <th>gpu hrs</th>
                    </tr>
                  </thead>
                    <tbody>
                    {% for i in account_ranks %}
                    <tr>
                        <th scope="row">{{i['rank']}}</th>
                        {% if view == 'users' %} 
                        <td><a href={{url_for('viewUser', user_name=i['name'], time=time, view=view)}}>{{i['name']}}</a></td> 
                        {% else %}
                        <td><a href={{url_for('viewAccount', account_name=i['name'], time=time, view=view)}}>{{i['name']}}</a></td> 
                        {% endif %}
                        <td>{{i['cores']|round(2) if i['cores'] != '-' else '<div title="This user used the minimum value for this resource. A score was not calculated." style="color: green;">0</div>'|safe}}</td> 
                        <td>{{i['memory']|round(2) if i['memory'] != '-' else '<div title="This user used the minimum value for this resource. A score was not calculated." style="color: green;">0</div>'|safe}}</td>
                        <td>{{i['time limit']|round(2) if i['time limit'] != '-' else '<div title="This user used the minimum value for this resource. A score was not calculated." style="color: green;">0</div>'|safe}}</td>
			<td>{{i['gpu']|round(2) if i['gpu'] != '-' else '<div title="This user used the minimum value for this resource. A score was not calculated." style="color: green;">0</div>'|safe}}</td>
			<td>{{i['total efficiency']|round(2) if i['total efficiency'] != '-' else i['total efficiency']}}</td>
                        <td>{{i['core hours']|float|round(2) if i['core hours'] != '-' else i['core hours']}}</td>
                        <td>{{i['gpu hours']|float|round(2) if i['gpu hours'] != '-' else i['gpu hours']}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#table').DataTable({
            "pageLength": 100
        });
    } );
</script>
{% endblock %}
